.consoleContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid #000 2px;
    border-radius: 3px;
    box-shadow: 3px 3px 0px 0px #000;
    padding: 0;
    transition: width .2s ease-in-out;
    margin-bottom: .5rem;
    overflow: hidden;
}
.consoleHeader {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #51feaf; 
    color:black;
    cursor: pointer;
    width: 100%;
    padding: .5rem;
}
.consoleList {
    flex-grow: 1;
    padding: 0; 
    font-family: 'Courier'; 
    font-size: .9rem; 
    overflow:hidden;
    overflow-y: scroll;
    height:100%;
}
.consoleList li {
    margin-left: 1rem; 
}
.consoleList li:first-of-type {
    margin-top: 1rem; 
}
.expandConsole {
    flex:7;
}
.collapseConsole {
    flex:3;
}
.darkMode{
    background-color: black;
    color: white;
}
.lightMode{
    background-color: white;
    color: black;
}
