.editor-header {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
.expandIcon {
    padding: .3em;
}
.editorBox {
    background-color: #fff;
    border: solid #000 2px;
    border-radius: 3px;
    box-shadow: 3px 3px 0px 0px #000;
    padding: 0;
    transition: width .2s ease-in-out;
    margin-bottom: .5rem;
    height:100%;
    width:100%;
    overflow: hidden;
}
.expand {
    height:100%;
    width:100%;
}
.collapse {
    height:100%;
    width:15%;
}
.consoleContainer {
    position: relative;
    height:100%;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
.consoleHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: rgb(227, 227, 227);
    color:#000;
}
.consoleBtn {
    position:absolute;
    bottom: 10px;
    right: 10px;
    border: solid #000 2px;
    border-radius: 3px;
    box-shadow: 3px 3px 0px 0px #000;
    padding: .2em 2em;
    background-color: aquamarine;
}
.consoleBtn:active {
    background-color: rgb(117, 236, 196);
    transform: scale(90%);
}
.consoleBtn:hover {
    background-color: rgb(177, 255, 229);
    border: solid #000 2.2px;
    cursor: pointer;
}

@media (max-width:1000px) {
    .editorBox {
        transition: none;
    }
    .expand {
        width:100%;
        height:100%;
    }
    .collapse {
        width:100%;
        height:50px;
    }
}