.ide {
    width:100%;
}
.pane {
    display: flex;
    width:100%;
    gap: 1rem;
    padding:3px;
}
.ide-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
.theme-toggle {
    cursor: pointer;
}
.browser-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
.browserBtns {
    display: flex;
    align-items: center;
}
.dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    margin: .2em;
    cursor: pointer;
}

@media (max-width:1000px) {
    .pane {
        flex-direction: column;
        gap: 0rem;
    }
}