.ide {
    display: flex;
    flex-direction: column;
    width:100%;
}
.pane {
    display: flex;
    width:100%;
    gap: 1rem;
    margin-bottom: .3rem;
}
.ide-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0 1rem 1rem;
}
.theme-toggle {
    cursor: pointer;
}

@media (max-width:1000px) {
    .pane {
        flex-direction: column;
        gap: 0rem;
    }
}