.ide {
    width:100%;
}
.pane {
    display: flex;
    width:100%;
    gap: 1rem;
    padding:3px;
}
.ide-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
.theme-toggle {
    cursor: pointer;
}
.browser-header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #B087FD;
    padding: .5rem;
}

@media (max-width:1000px) {
    .pane {
        flex-direction: column;
        gap: 0rem;
    }
}