.popupContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    position: fixed; height: 100%; width: 100%;    
    top:0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.871);
}
.popupBox {
    border: solid #000 2px;
    border-radius: 3px;
    box-shadow: 3px 3px 0px 0px #000; 
    position:absolute;
    background-color: #86DFA7;
    max-width: 500px;
    width: 90%;
    padding: 1rem;
}
