.popupContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    position: fixed; height: 100%; width: 100%;    
    top:0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.915);
}
